.main-body-text {
  color: var(--color-3);
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
}

.body-text {
  margin: 0.6rem 0;
}

.main-text-body-tb {
  margin: 0;
}
