.panel-panel {
  width: 50%;
}

.panel-group {
  border-radius: var(--border-box);
  background-color: var(--color-4);
  margin-bottom: 0.8rem;
  padding: 1rem;
}

.panel-head {
  font-size: var(--sub-text-size);
  color: var(--color-3);
  margin: 0;
  cursor: pointer;
}

.panel-head h3 {
  margin: 0;
}

.panel-body {
  font-size: var(--reg-text-size);
  color: var(--color-3);
  display: none;
}

.panel-body.open {
  display: block;
}

.panel-body p,
.panel-body a {
  margin: 0.4rem 0 0 0;
}

.panel-body-some {
  height: 1rem;
  width: 1rem;
  background-color: black;
  border: black solid 0.2rem;
  border-radius: 6px;
  color: var(--color-3);
}

.panel-contact {
  margin-top: var(--border-box);
  text-align: center;
}
