.login-container {
  max-width: var(--width-page);
  color: var(--color-3);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (max-width: 750px) {
  .login-container {
    width: 100%;
  }
}

.login-container.active {
  display: block;
}

.login-field {
  padding-top: 1rem;
}

.login-field h3 {
  font-size: 1.4rem;
  font-weight: var(--sub-text-weight);
  text-align: center;
  margin: 0;
}

.login-field p {
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
  color: var(--color-3);
  text-align: center;
  margin: 0;
}

.login-field label {
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
  padding-left: 0.4rem;
  margin: 0.6rem 0;
  display: block;
}

.login-field form {
  max-width: var(--width-page);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-field input {
  outline: none;
  border-radius: var(--border-box);
  background-color: var(--color-2);
  border: var(--color-4) solid 0.3rem;
  color: var(--color-3);
  font-size: 0.9rem;
  font-weight: var(--reg-text-weight);
  padding: 0.3rem;
  width: 100%;
  transition: 0.6s ease;
}

.login-field input::placeholder {
  color: var(--color-3);
  font-size: 0.9rem;
  font-weight: var(--reg-text-weight);
}

.login-field button {
  border-radius: var(--border-box);
  background-color: var(--color-2);
  border: var(--color-4) solid 0.3rem;
  color: var(--color-3);
  font-size: 0.9rem;
  font-weight: var(--reg-text-weight);
  padding: 0.3rem;
  width: 100%;
  transition: 0.6s ease;
}

.login-field :hover {
  border-color: var(--color-1);
}

.login-field a {
  color: var(--color-1);
}

.login-field .error-message {
  color: red;
  padding-top: 1rem;
}

.login-field.BottomText {
  padding-bottom: 1rem;
  padding-top: 1.6rem;
}

.login-field.RegisterButton {
  margin-top: 0.6rem;
}
