.login-container {
  max-width: var(--width-page);
  color: var(--color-3);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (max-width: 750px) {
  .login-container {
    width: 100%;
  }
}

.login-container.active {
  display: block;
}

.login-field {
  margin-top: 2rem;
  position: relative;
}

.login-field h3 {
  font-size: 1.4rem;
  font-weight: var(--sub-text-weight);
  text-align: center;
}

.login-field.NewPassword {
  margin: 0.2rem 0 0.2rem 0.62rem;
  padding-top: 0;
}

.login-field p {
  font-size: var(--input-text-size);
  font-weight: var(--reg-text-weight);
  color: var(--color-3);
  text-align: center;
}

.login-field label {
  position: absolute;
  top: -0.6rem;
  left: 1.3rem;
  background-color: var(--color-2);
  display: block;
}

.login-field form {
  max-width: var(--width-page);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-field input {
  width: 100%;
}

.login-field button {
  width: 100%;
}

.municipalities {
  gap: 1rem;
}

.login-field :hover {
  border-color: var(--color-1);
}

.login-field .error-message {
  color: var(--color-5);
  padding-top: 1rem;
}

.login-field.TopText {
  margin-top: 0;
}
