.profile-head {
  width: 100%;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.profile-body {
  display: none;
  position: relative;
  width: 100%;
}

.profile-body.open {
  display: block;
  cursor: default;
}

.user-profile {
  width: 100%;
  color: var(--color-3);
  display: flex;
}
.user-profile p {
  margin: 0.4rem 0 0 0;
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
}

.profile-body-group {
  width: 50%;
  display: flex;
}

.profile-body-column {
  padding-right: 0.6rem;
}

.delete-user {
  background: var(--color-5);
  box-shadow: var(--shadow);
  border-radius: var(--border-box);
  color: var(--color-4);
  border: var(--color-5) solid 0.1rem;
  font-weight: var(--reg-text-weight);
  font-size: 0.9rem;
  cursor: pointer;
}

.profile-body-group.three {
  display: block;
  position: relative;
}

.dead-user-info {
  display: flex;
  justify-content: flex-end;
}

.dead-user-info.info {
  margin-bottom: 0.4rem;
}

.dead-user-info.delete {
  padding-right: 0.6rem;
}
