.profile-head {
  width: 100%;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.profile-body {
  display: none;
  width: 100%;
}

.profile-body.open {
  display: block;
  cursor: default;
}

/* new listing start */
.new-listing {
  color: var(--color-3);
  display: flex;
}

.new-listing form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.listing-column {
  width: 45%;
}

.listing-column.first {
  margin-right: 10%;
}

.listing-field {
  margin-top: 2rem;
  position: relative;
}

@media (max-width: 750px) {
  .new-listing {
    flex-direction: column;
  }
  .new-listing form {
    display: block;
  }
  .listing-column {
    width: 100%;
  }
}

.listing-field :hover {
  border-color: var(--color-1);
}

.fields-after-category {
  display: none;
}

.listing-field label {
  position: absolute;
  top: -0.7rem;
  left: 1.3rem;
  background-color: var(--color-2);
  display: block;
}

.listing-field.image label {
  top: -0.8rem;
}

.listing-field input {
  width: 100%;
}

.listing-field p {
  margin: 0.2rem 0.2rem 0.2rem 0.62rem;
  font-size: var(--input-text-size);
  font-weight: var(--reg-text-weight);
  color: var(--color-3);
}

.listing-field.BottomText {
  margin-top: 0;
}

.listing-field.BottomText a {
  font-size: var(--input-text-size);
  font-weight: var(--reg-text-weight);
}

.listing-column.button {
  width: 100%;
}

.listing-field button {
  width: 100%;
}

.listing-field.image {
  border-radius: var(--border-box);
  background-color: var(--color-2);
  border: var(--color-4) solid 0.3rem;
}

.listing-field.image input {
  border: 0;
}

.images-container {
  display: flex;
  margin: 0.62rem;
  height: 8.2rem;
}

.custom-upload-box {
  border: var(--color-2) dashed 0.2rem;
  border-radius: var(--border-box);
  padding: 1.2rem;
  text-align: center;
  align-content: center;
  cursor: pointer;
  background: var(--color-4);
  transition: var(--input-transition);
  width: 7rem;
  flex: 1 1 auto;
}

.custom-upload-box:hover {
  border-color: var(--color-1);
}

.custom-upload-box.dragover {
  border-color: var(--color-1);
}

.image-preview {
  display: flex;
}

.image-preview img {
  width: 7rem;
  margin-left: 0.62rem;
  object-fit: cover;
  border-radius: var(--border-box);
}
/* new listing end */
/* my listings start*/
.listed-group {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  color: var(--color-3);
  border-radius: var(--border-box);
  border: var(--color-4) solid 0.3rem;
}

.image-group {
  display: flex;
  margin-right: 0.7rem;
}

.listed-image {
  width: 2.7rem;
  min-height: 4rem;
  object-fit: cover;
  margin-right: 0.3rem;
  transition: var(--input-transition);
  transform-origin: top center;
  border-radius: calc(var(--border-box) * 0.7);
}

.listed-image:hover {
  width: 5.4rem;
  height: 8rem;
}

.text-group {
  width: 80%;
  display: flex;
}

.listed-text {
  display: flex;
  margin-right: 1rem;
  position: relative;
  align-items: center;
  max-width: 20%;
}

.listed-head {
  top: -0.8rem;
  position: absolute;
  display: block;
  background-color: var(--color-2);
  font-size: var(--sub-text-size);
  font-weight: var(--sub-text-weight);
}

.listed-body {
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
  text-align: left;
  padding: 0.6rem 0;
}
/* my listings end */
/* profil settings start */
.user-profile {
  display: flex;
  width: 100%;
  color: var(--color-3);
}
.user-profile p {
  margin: 0.4rem 0 0 0;
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
}

.profile-body-group {
  width: 50%;
  display: flex;
}

@media (max-width: 750px) {
  .user-profile {
    flex-direction: column;
    width: 100%;
  }
}

.profile-body-column {
  padding-right: 0.6rem;
}

.delete-user {
  background: var(--color-5);
  box-shadow: var(--shadow);
  border-radius: var(--border-box);
  color: var(--color-4);
  border: var(--color-5) solid 0.1rem;
  font-weight: var(--reg-text-weight);
  font-size: 0.9rem;
  cursor: pointer;
}

.profile-body-group.three {
  display: block;
}

.dead-user-info {
  display: flex;
  justify-content: flex-end;
}

.dead-user-info.info {
  margin-bottom: 0.4rem;
}

.dead-user-info.delete {
  padding-right: 0.6rem;
}
/* profile settings end */
