.profile-head {
  width: 100%;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.profile-body {
  display: none;
  width: 100%;
}

.profile-body.open {
  display: block;
  cursor: default;
}

/* new listing start */
.new-listing {
  color: var(--color-3);
  display: flex;
}

.new-listing form {
  display: flex;
  width: 100%;
}

.listing-column {
  width: 50%;
}

.listing-column.first {
  margin-right: 8rem;
}

.listing-field {
  margin-top: 2rem;
  position: relative;
}

.listing-field :hover {
  border-color: var(--color-1);
}

.fields-after-category {
  display: none;
}

.listing-field label {
  position: absolute;
  top: -0.6rem;
  left: 1.3rem;
  background-color: var(--color-2);
  display: block;
}

.listing-field input {
  width: 100%;
}

.listing-field p {
  margin: 0.2rem 0.2rem 0.2rem 0.62rem;
  font-size: var(--input-text-size);
  font-weight: var(--reg-text-weight);
  color: var(--color-3);
}

.listing-field.BottomText {
  margin-top: 0;
}

.listing-field.BottomText a {
  font-size: var(--input-text-size);
  font-weight: var(--reg-text-weight);
}

.listing-field button {
  width: 100%;
}

.listing-field.image {
  border-radius: var(--border-box);
  background-color: var(--color-2);
  border: var(--color-4) solid 0.3rem;
}

.listing-field.image input {
  border: 0;
}

.images-container {
  display: flex;
  margin: 0.62rem;
}

.custom-upload-box {
  border: 2px dashed var(--color-2);
  border-radius: var(--border-box);
  padding: 1.2rem;
  text-align: center;
  align-content: center;
  cursor: pointer;
  background: var(--color-4);
  transition: var(--input-transition);
  height: 8rem;
  flex: 1 1 auto;
}

.custom-upload-box:hover {
  border-color: var(--color-1);
}

.image-preview {
  display: flex;
}

.image-preview img {
  height: 8rem;
  margin-left: 0.62rem;
  object-fit: cover;
  border-radius: var(--border-box);
}
/* new listing end */
/* profil settings start */
.user-profile {
  width: 100%;
  color: var(--color-3);
  display: flex;
}
.user-profile p {
  margin: 0.4rem 0 0 0;
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
}

.profile-body-group {
  width: 50%;
  display: flex;
}

.profile-body-column {
  padding-right: 0.6rem;
}

.delete-user {
  background: var(--color-5);
  box-shadow: var(--shadow);
  border-radius: var(--border-box);
  color: var(--color-4);
  border: var(--color-5) solid 0.1rem;
  font-weight: var(--reg-text-weight);
  font-size: 0.9rem;
  cursor: pointer;
}

.profile-body-group.three {
  display: block;
  position: relative;
}

.dead-user-info {
  display: flex;
  justify-content: flex-end;
}

.dead-user-info.info {
  margin-bottom: 0.4rem;
}

.dead-user-info.delete {
  padding-right: 0.6rem;
}
/* profile settings end */
