:root {
  --color-1: #da3f19;
  --color-2: #cdd1ce;
  --color-3: #071c0a;
  --color-4: #f0f1f1;
  --color-5: #e60000;
  --color-6: #516054:
}

:root {
  --sub-text-size: 1.2rem;
  --sub-text-weight: 140;
  --reg-text-size: 1.15rem;
  --reg-text-weight: 120;
  --input-text-size: 1.05rem;
}

:root {
  --shadow: 0px 2px 6px 0px rgba(203, 208, 213, 0.4);
  --border-box: 12px;
  --width-page: 980px;
  --padding-box: 1.3rem;
  --padding-body-box: 1.9rem;
}

:root {
  --input-transition: 0.6s ease;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-1);
}

ul {
  list-style: none;
  padding: 0;
}

@font-face {
  font-family: "techna";
  src: url("/sagaswap/public/fonts/TechnaSansRegular-Xp79.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "techna";
  background-color: var(--color-4);
  word-spacing: 0.08rem;
  overflow-x: hidden;
}

p {
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h2,
h3 {
  font-size: var(--sub-text-size);
  color: var(--color-3);
}

label {
  font-size: var(--input-text-size);
  font-weight: var(--reg-text-weight);
  z-index: 800;
}

::placeholder {
  color: var(--color-6);
  font-size: calc(var(--input-text-size) - 10%);
}

input {
  outline: none;
  border-radius: var(--border-box);
  background-color: var(--color-2);
  border: var(--color-4) solid 0.3rem;
  color: var(--color-3);
  font-size: 0.9rem;
  font-weight: var(--reg-text-weight);
  padding: 0.3rem;
  transition: var(--input-transition);
}

button {
  border-radius: var(--border-box);
  background-color: var(--color-2);
  border: var(--color-4) solid 0.3rem;
  color: var(--color-3);
  font-size: 0.9rem;
  font-weight: var(--reg-text-weight);
  padding: 0.3rem;
  transition: var(--input-transition);
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* header start */
.header-header {
  background: var(--color-2);
  box-shadow: var(--shadow);
  border-radius: var(--border-box);
  display: flex;
  position: relative;
  align-items: center;
  padding: var(--padding-box);
  margin: 1.6rem;
  min-width: 0;
}

.header-logo {
  color: var(--color-1);
  display: flex;
  font-size: 1.6rem;
}

.header-actions {
  color: var(--color-3);
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-actions > div {
  display: flex;
  gap: 0.4rem;
}

.header-actions .header-actions-2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  gap: 0 0.5rem;
  color: var(--color-3);
}

@media (max-width: 620px) {
  .header-actions-2 .action-text {
    display: none;
  }

  .header-actions > div {
    gap: 0rem;
  }

  .header-logo {
    flex: 1;
  }
}
/* header end */

/* main start */
.main-main {
  display: flex;
  width: 100%;
  position: relative;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  max-width: var(--width-page);
  margin: 1rem 1.6rem;
  position: relative;
}

.main-text {
  text-align: center;
}

h1.main-text {
  color: var(--color-3);
  font-size: 2.6rem;
  margin-bottom: 0.7rem;
}

.head-content {
  background-color: var(--color-2);
  border-radius: var(--border-box);
  box-shadow: var(--shadow);
  padding: var(--padding-body-box);
  max-width: var(--width-page);
  display: block;
  justify-items: center;
}

.body-content {
  background-color: var(--color-2);
  border-radius: var(--border-box);
  box-shadow: var(--shadow);
  padding: var(--padding-body-box);
  margin: 1rem 0 0 0;
  max-width: var(--width-page);
  flex: 1 1 auto;
  display: block;
  justify-items: center;
}
/* menu start */
[include-html="../includes/main-header-menu.html"] {
  display: flex;
  align-items: stretch;
}

.main-header-menu {
  background-color: var(--color-2);
  border-radius: var(--border-box);
  box-shadow: var(--shadow);
  padding: var(--padding-box);
  margin: 1rem 1.6rem 1rem 0;
  height: auto;
  align-self: stretch;
  display: none;
  flex: 0 0 15rem;
}

.main-header-menu.open {
  display: block;
}

.main-header-menu ul {
  margin: 0.6rem 0 1.4rem 0;
}

.main-header-menu li {
  border-bottom: var(--color-3) solid 0.1rem;
  padding: 0.5rem 0;
}

.main-header-menu li a,
.main-header-menu h4 {
  color: var(--color-3);
}

.main-header-menu li a:hover {
  opacity: 0.6;
}

.menu-text {
  margin: 0;
}

@media (max-width: 750px) {
  .main-header-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 1rem 1.6rem 1rem 1.6rem;
    width: auto;
  }
}
/* menu end */
/* custom dropdown start*/
.custom-select {
  border-radius: var(--border-box);
  background-color: var(--color-2);
  border: var(--color-4) solid 0.3rem;
  color: var(--color-3);
  padding: 0.3rem;
  width: 100%;
  transition: var(--input-transition);
  position: relative;
}

.selected {
  cursor: pointer;
  color: var(--color-6);
  font-size: calc(var(--input-text-size) - 10%);
}

.options {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  border-top: none;
  background-color: var(--color-4);
  border: var(--color-4) solid 0.3rem;
  box-sizing: border-box;
  max-height: 180px;
  overflow-y: auto;
  display: none;
  border-radius: var(--border-box);
  z-index: 900;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: var(--color-2);
}
/* custom dropdown end */
/* main end */

/* footer start */
.footer-footer {
  background: var(--color-2);
  box-shadow: var(--shadow);
  border-radius: var(--border-box);
  margin: 1.6rem;
  display: flex;
  position: relative;
  min-width: 0;
}

.footer-navigation {
  display: flex;
  white-space: nowrap;
  flex: 1 1 auto;
}

.navigation-column {
  width: 100%;
  padding: var(--padding-box);
}

.navigation-column ul {
  margin: 0.6rem 0 0 0;
}

.navigation-column li {
  padding: 0.5rem 0;
  font-weight: var(--reg-text-weight);
  font-size: var(--reg-text-size);
}

.navigation-column li a,
.navigation-column h5 {
  color: var(--color-3);
}

.navigation-column h5 {
  font-size: 1.4rem;
}

.navigation-text {
  margin: 0;
}

.navigation-icons {
  display: flex;
  margin-top: 0.4rem;
}

.navigation-some {
  height: 1.7rem;
  width: 1.7rem;
  background-color: black;
  border: black solid 0.3rem;
  border-radius: 0.4rem;
}

.navigation-some.one {
  margin-right: 0.4rem;
}

.navigation-adresse p {
  margin: 0.4rem 0 0 0;
  font-size: var(--reg-text-size);
  font-weight: var(--reg-text-weight);
  color: var(--color-3);
}

@media (max-width: 750px) {
  .footer-navigation {
    flex-direction: column;
  }
}
/* footer end */
